body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #d77c98; /* Rosa suave */
}

.container {
    max-width: 600px;
    margin: auto;
    background: #f4d6d2; /* Beige o palo rosado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #8c4a3c; /* Brown */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #6b3a2f; /* Tonalidad más oscura de brown */
}
